{% extends 'hello_base.html' %}

{% block toolbar %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% block title-section %}<h1 class="h2">ToDos Details</h1>{% endblock %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/todos/update/{{ object.pk }}" class="btn btn-warning" role="button">Edit Item</a>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<h1>{{ object.title }} ({{ object.category }})</h1>

<ul>{{ object.body }}</ul>
<ul>{{ object.due_date | date }}</ul>
<ul>{{ object.task_finished }}</ul>


{% endblock %}