{% extends 'hello_base.html' %}

{% block toolbar %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% block title-section %}<h1 class="h2">ToDos</h1>{% endblock %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/todos/create" class="btn btn-warning" role="button">Add Item</a>

        </div>
    </div>
</div>
{% endblock %}

{% load render_table from django_tables2 %}
{#% load bootstrap4 %#}

{% block content%}
{% render_table table %}
{% endblock %}