{% extends 'hello_base.html' %}

{% block toolbar %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  {% block title-section %}<h1 class="h2">Update ToDo {{ object.title }} </h1>{% endblock %}
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">

    </div>
  </div>
</div>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% crispy form %}
{% endblock %}