{% extends "hello_base.html" %}

{% block title %}Hello django content{% endblock %}


{% block title-section %}
<h1 class="h2">HelloWorld App</h1>
{% endblock %}

{% block content %}

<h1>Hellodjango3 app index view</h1>

<p> Hello, World! - nothing more </p>

{% endblock %}